DISCORD_BOT_TOKEN=replace-me
DISCORD_GUILD_ID=123456789012345678
DISCORD_ORCHESTRATION_CHANNEL_ID=123456789012345678
LANGGRAPH_CHECKPOINT_PATH=.state/pixie-langgraph.sqlite

DISCORD_PRODUCT_MANAGER_DISPLAY_NAME=Pixie PM
DISCORD_PRODUCT_MANAGER_MENTION_TOKENS=@pm,@product-manager
DISCORD_PRODUCT_MANAGER_WEBHOOK_URL=

DISCORD_MARKET_ANALYST_DISPLAY_NAME=Pixie Market Analyst
DISCORD_MARKET_ANALYST_MENTION_TOKENS=@market,@market-analyst
DISCORD_MARKET_ANALYST_WEBHOOK_URL=

DISCORD_USER_RESEARCHER_DISPLAY_NAME=Pixie User Researcher
DISCORD_USER_RESEARCHER_MENTION_TOKENS=@uxr,@user-researcher
DISCORD_USER_RESEARCHER_WEBHOOK_URL=

DISCORD_DATA_SCIENTIST_DISPLAY_NAME=Pixie Data Scientist
DISCORD_DATA_SCIENTIST_MENTION_TOKENS=@data,@data-scientist
DISCORD_DATA_SCIENTIST_WEBHOOK_URL=

DISCORD_PRODUCT_DESIGNER_DISPLAY_NAME=Pixie Product Designer
DISCORD_PRODUCT_DESIGNER_MENTION_TOKENS=@design,@product-designer
DISCORD_PRODUCT_DESIGNER_WEBHOOK_URL=
